/* 공통 전역 스타일 */

:root {
  /* 색상 */
  --color-black-02000E: #02000e;
  --color-black-181D26: #181d26;
  --color-gray-67666E: #67666e;
  --color-gray-828282: #828282;
  --color-gray-8C92AB: #8c92ab;
  --color-gray-A3A5A8: #a3a5a8;
  --color-white-F7F7F8: #f7f7f8;
  --color-orange-F96D69: #f96d69;
  --color-pink-FE5493: #fe5493;

  /* 폰트 사이즈, 1rem = 10px */
  font-size: 62.5%;
  --font-size-xxs: 1.2rem;
  --font-size-xs: 1.3rem;
  --font-size-base: 1.4rem;
  --font-size-sm: 1.5rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.6rem;

  /* 폰트 굵기 */
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* 폰트 행간 */
  --line-height-26: 26px;

  /* 폰트 자간 */
  --letter-spacing-wide: 5px;
  --letter-spacing-wide-md: 2px;
  --letter-spacing-wide-sm: 0.17px;

  /* 테두리 둥굴기 */
  --border-radius-xs: 3px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 24px;
  --border-radius-round: 99999px;
}

body {
  font-family: 'Pretendard';
  font-size: 1.6rem;
  background-color: var(--color-black-02000E);
  color: white;
}

input.input__credit {
  width: 100%;
  padding: 16px 48px 16px 16px;
  background-color: #272f3d;
  background-image: url(../assets/images/credit.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  color: white;
  font-weight: var(--font-weight-700);
  border: solid 1px white;
  border-radius: var(--border-radius-sm);
}

input.input__credit::placeholder {
  color: var(--color-gray-67666E);
  font-weight: var(--font-weight-700);
}

/* 버튼 */
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 0 14px;
}

.btn--color {
  color: white;
  background-image: linear-gradient(to right, #f86f65, #fe5493);
}

.btn--large {
  height: 40px;
  line-height: 41px;
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-700);
  border-radius: var(--border-radius-xs);
}

.btn--medium {
  height: 32px;
  line-height: 34px;
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-700);
  border-radius: var(--border-radius-xs);
}
button:disabled {
  background: var(--color-gray-828282);
  cursor: auto;
}

.btn--large.btn--img {
  line-height: 41px;
}

.btn--medium.btn--img {
  line-height: 33px;
}

button img {
  transform: translateY(-1px);
  display: inline-block;
  vertical-align: middle;
}

/* 라디오 */
.radio {
  width: 100%;
  display: flex;
}

input[type='radio'] {
  display: none;
}

.radio-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../assets/images/Checked_False.png) no-repeat;
  cursor: pointer;
}

input[type='radio']:checked + label .radio-icon {
  background: url(../assets/images/Checked_True.png) no-repeat;
}

.radio__idol .radio-icon {
  margin-left: auto;
}

.radio__idol label {
  padding: 8px 0;
  font-size: var(--font-size-base);
}

.radio__idol--img {
  position: relative;
}

.radio__idol .idol--name {
  padding-bottom: 4px;
}

.idol--order {
  color: var(--color-orange-F96D69);
}

.idol--name {
  font-weight: var(--font-weight-500);
}

.idol--vote {
  opacity: 0.6;
}

/* 크레딧 라디오 버튼 */
.radio__credit {
  margin-bottom: 8px;
  color: var(--color-gray-828282);
  background-color: var(--color-black-02000E);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  border: 1px solid var(--color-white-F7F7F8);
  border-radius: var(--border-radius-sm);
}

.radio__credit.selected {
  border: 1px solid var(--color-orange-F96D69);
}

.radio__credit label {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 18px 15px;
}

.radio__credit--value {
  padding-left: 24px;
  background-image: url(../assets/images/credit.png);
  background-repeat: no-repeat;
  background-position: left;
}

.radio__credit input[type='radio']:checked + label .radio__credit--value {
  color: white;
}

/* 기본 아이돌 프로필 */
.idol__img {
  width: var(--profile-size);
  height: var(--profile-size);
  position: relative;
  background-color: transparent;
  border: 1px solid var(--color-orange-F96D69);
  border-radius: var(--border-radius-round);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.idol__img img {
  padding: 4px;
  width: inherit;
  height: inherit;
  border-radius: var(--border-radius-round);
  object-fit: cover;
}

.idol__img--select::after,
.radio__idol input[type='radio']:checked + label .radio__idol--img::after {
  content: '';
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: rgba(254, 84, 147, 0.4);
  background-image: url(../assets//images/ic_check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius-round);
}

.idol__profile {
  width: var(--profile-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.idol__profile .idol--name {
  padding: 10px 0 5px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-700);
}

.idol__profile .idol--group {
  font-size: var(--font-size-base);
  opacity: 0.6;
}

.idol__profile--delete {
  position: relative;
}

/* 관심있는 아이돌 삭제 버튼 기능 구현을 위한 추가 css */
.idol__delete-button {
  position: absolute;
  top: 0;
  right: -8px;
  width: 30px;
  height: 30px;
  background: url(../assets/images/ic_delete.png) no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  z-index: 10;
}
/* 삭제 버튼 중복으로 인해 일단 주석처리 */
/* .idol__profile--delete::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -8px;
  width: 30px;
  height: 30px;
  background-image: url(../assets//images/ic_delete.png);
  background-repeat: no-repeat;
} */

/* 아이돌 차트 리스트 */
.idol__chartItems,
.radio__idol {
  font-size: var(--font-size-base);
  border-bottom: 1px solid rgb(255, 255, 255, 0.10);
}

.idol__chartItem {
  padding: 8px 0;
}

.idol__chartItem--flex,
.radio__idol--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: inherit;
  cursor: pointer;
}

.idol__chartItems .idol--vote {
  margin-left: auto;
}

/* 후원 조공 */
.idol__sponsor {
  width: 150px;
  min-width: 150px;
  font-size: var(--font-size-base);
}
.sponsor__imgBtn {
  position: relative;
  height: 205px;
}

.sponsor__img {
  height: inherit;
  overflow: hidden;
}

.sponsor__img::before {
  content: '';
  position: absolute;
  height: inherit;
  inset: 0;
  background: linear-gradient(to top, var(--color-black-02000E), transparent 50% 90%);
}

.sponsor__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sponsor__imgBtn button {
  max-width: 230px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
}

.sponsor__Info {
  margin: 10px 0 20px;
}

.sponsor__subTitle {
  margin-bottom: 6px;
  font-size: var(--font-size-xxs);
  opacity: 0.4;
}

.sponsor__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-500);
}

.sponsor__status {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xxs);
  margin-bottom: 8px;
}

.sponsor__credit {
  color: var(--color-orange-F96D69);
  padding-left: 16px;
  background-image: url(../assets/images/credit.png);
  background-repeat: no-repeat;
  background-position: -6px center;
}

.sponsor__bar {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
}

.sponsor__bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--barPer);
  background: linear-gradient(to right, #ff5f9a, #ff668a);
  /* transition: width 0.3s ease; */
}

table,
th,
td {
  font-size: var(--font-size-base);
  border: 1px solid #aaa;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 2px 8px;
}
th {
  background-color: #eee;
  color: black;
}

/*** 반응형 ***/
/* 타블렛 (768px~) */
@media (min-width: 768px) {
  /* 후원 조공 */
  .idol__sponsor {
    width: 282px;
    min-width: 282px;
  }

  .sponsor__imgBtn {
    height: 293px;
  }

  .sponsor__subTitle {
    font-size: var(--font-size-md);
  }

  .sponsor__title {
    font-size: var(--font-size-lg);
  }

  /* 아이돌 프로필 */
  .idol__profile {
    width: 128px;
  }

  .idol__profile .idol__img {
    width: 128px;
    height: 128px;
  }

  .idol__profile--delete .idol__img {
    width: 100px;
    height: 100px;
  }
  .idol__profile--delete::after {
    top: 2px;
    right: 14px;
  }
}

/* 테스크탑 (1200px~) */
@media (min-width: 1200px) {
  .idol__chartItems {
    font-size: var(--font-size-md);
  }
}
