/* 모달 css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px; /* 요소 간 간격 */
  width: 295px;
  height: 473px;
  background-color: var(--color-black-181D26);
  border-radius: var(--border-radius-md);
}

.modalContent h2 {
  font-size: var(--font-size-lg);
}

.btn--modalClose {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url(../assets/images/btn_delete_24px.png);
  cursor: pointer;
  font-size: var(--font-size-base);
}

/* 내 크레딧 충전 */
.creditCharge {
  position: relative;
  justify-content: flex-start;
  width: 327px;
  height: auto;
  gap: 0px;
}

.creditCharge h2 {
  margin-bottom: 24px;
}

.creditCharge .btn {
  margin-top: 16px;
  font-size: var(--font-size-base);
}

.btn-creditcharge {
  padding: 10px 20px;
  color: var(--color-orange-F96D69);
  font-size: var(--font-size-xs);
}

/* 크레딧 부족 모달 */
.credit-lack {
  position: relative;
  width: 343px;
  height: auto;
}

.credit-lack__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-lack__container img {
  width: 200px;
}

.credit-lack__container p {
  margin-bottom: 31px;
  font-size: var(--font-size-md);
}

/* 후원하기 모달 */
.donation {
  width: 327px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__donation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn--donationModalClose {
  background-image: url(../assets/images/btn_delete_24px.png);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.donation__profile {
  width: 158px;
  height: 206px;
  border-radius: 8px;
  overflow: hidden;
}

.donation__profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.donation__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.donation__subtitle {
  font-size: 12px;
  color: #67666e;
}

.donation__title {
  font-size: 14px;
  color: #f7f7f8;
}

.new-donation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

input.input__donation {
  width: 100%;
  padding: 10px;
  background-color: #272f3d;
  background-repeat: no-repeat;
  background-position: 95% center;
  color: white;
  border: solid 1px white;
  border-radius: 8px;
  font-size: var(--font-size-md);
}

input.input__donation::placeholder {
  padding: 0 5px;
  color: var(--color-gray-67666E);
}

.donation__input-group p {
  font-size: var(--font-size-xxs);
  color: #FF2626;
  padding-top: 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
   color: rgba(0, 0, 0, 0);
   opacity: 1;
   display: block;
   background: url(../assets/images/datetime-icon.png) no-repeat;
   background-size: 20px 20px;
   background-position: center;
   border-width: thin;
}

/* 이달의 투표 */
.voting {
  position: relative;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.voting h2 {
  margin-top: 20px;
  text-align: center;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-500);
}

.voting .btn--modalClose {
  position: absolute;
  top: 40px;
  left: 35px;
  background-image: url(../assets/images/icj_arrow_left.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.voting .btn {
  margin-top: auto;
}

.voting .btn {
  font-size: var(--font-size-base);
}

.voting p {
  text-align: center;
  font-size: var(--font-size-xxs);
}

.voting p span {
  color: var(--color-pink-FE5493);
}

/* 투표 스크롤바 */
.voting_scroll {
  max-height: 100%;
  overflow: auto;
  margin: 25px 0;
  padding: 0 10px;
}

.voting_scroll::-webkit-scrollbar {
  width: 3px;
}

.voting_scroll::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.2);
  border-radius: 10px;
}

.voting_scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/*** 반응형 ***/
/* 타블렛 (768px~) */
@media (min-width: 768px) {
  .voting {
    height: 700px;
    width: 520px;
    /* max-height: 75vh; */
  }

  .voting h2 {
    margin-top: auto;
    text-align: left;
    font-size: var(--font-size-lg);
  }

  .voting .btn--modalClose {
    top: 26px;
    left: auto;
    right: 20px;
    background-image: url(../assets/images/btn_delete_24px.png);
  }

  .voting_scroll {
    max-height: 60vh;
    margin: 19px 0;
  }

  .btn-creditcharge {
    font-size: var(--font-size-md);
  }
}

/* 테스크탑 (1200px~) */
/* @media (min-width: 1200px) {
} */
