/* 마이페이지 추가용 css */
.myPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.interested-scroll-wrapper {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding: 12px 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
  min-height: 150px;
}

.interested-scroll-wrapper::-webkit-scrollbar {
  height: 6px;
}

.interested-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.section-title {
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding-left: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.interested-divider {
  width: 90%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.1;
  margin: 20px auto;
  border-radius: 1px;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: nowrap;
  margin-top: 24px;
}

/* 추가하기 버튼 */
.my-add-button-wrapper {
  margin-bottom: 34px;
}
.my-add-button-wrapper button {
  font-size: var(--font-size-md);
}

/* 마이 페이지 아이돌 프로필 반응형 */
.myPage__idolList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 모바일 기본 */
  gap: 10px;
  min-height: 240px;
  justify-items: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .myPage__idolList {
    grid-template-columns: repeat(4, 1fr); /* 태블릿 */
  }
}

@media (min-width: 1200px) {
  .myPage__idolList {
    grid-template-columns: repeat(8, 1fr); /* 데스크탑 */
  }
}

@media (max-width: 767px) {
  .myPage__idolList {
    max-height: 250px; /* 한 줄당 약 260px 기준으로 2줄 (아이돌 6개) */
    overflow-y: auto;
    padding-right: 4px; /* 스크롤바 여백 */
  }

  .btn-pagination {
    display: none; /* 모바일에서는 페이지네이션 버튼 숨김 */
  }
}

/* 폰트 사이즈 반응형 */
/* 태블릿 이상: 20px */
@media (min-width: 768px) {
  .section-title {
    font-size: 20px;
  }
}

/* 데스크탑 이상: 24px */
@media (min-width: 1200px) {
  .section-title {
    font-size: 24px;
  }
}
